# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Listing popular languages for data science.
- Listing commonly used libraries in data science.
- Creating a table with data science tools.
- Evaluating arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. SciPy
3. Pandas
4. Matplotlib

|Data Science Tools|
--------------------
|Apache Spark|
|Hadoop|
|Jupyter|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Suhani Agarwal